lsf.png
.ipynb_checkpoints/
__pycache__/
analyse_spectra/__pycache__/
analyse_spectra/chisq_plots/
analyse_spectra/path_lengths.h5
analyse_spectra/plots/
data/
make_spectra/__pycache__/
make_spectra/align_plots/
make_spectra/plots/
make_spectra/satellite_only.png
make_spectra/test.png
make_spectra/trident_test/

