lsf.png
.ipynb_checkpoints/
__pycache__/
analyse_spectra/__pycache__/
analyse_spectra/chisq_plots/
analyse_spectra/path_lengths.h5
analyse_spectra/plots/
analyse_spectra/sub_chisq.sh
data/
make_spectra/__pycache__/
make_spectra/align_plots/
make_spectra/fit_profiles_satellites.py
make_spectra/plots/
make_spectra/satellite_only.png
make_spectra/tasks/replace_zero_r200_gals.py
make_spectra/test.png
make_spectra/trident_test/
submission/sub_fit_profiles_satellites.py
submission/sub_line_pipeline_no_uvb_short.sh
submission/sub_los_particles_ssfr.sh

